* {
  box-sizing: border-box;
  font-family: 'Pretendard';
  margin: 0;
  padding: 0;
  background-color: white;
}
a {
  color: black;
}
button {
  border: 0;
  background-color: transparent;
}
input {
  border: 0;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  src: url("./font/Pretendard-Regular.woff");
}
